html{margin:0; padding:0; background:#EFEFEF;}
body{width:780px; margin:20px auto; padding:0 10px 0 10px; background:#FFF; font-family:sans-serif;}
html{height:100%;}
body{height:auto; box-shadow:0 0 20px #444;}
html, section, section h1, section h2, section div, footer{width:100%;}
body, footer{width:780px;}
header, section h1, section h2{text-align:center;}

header img{margin:15px 0 20px 0;}
section h1{color:#4DB920; margin:0; font-size:200%; text-shadow:1px 1px 0 #6C6D6F;}
section h2{color:#6C6D6F; margin:0; font-size:120%;}
section #close-content{width:100%; height:25px; background:#FFF; overflow:hidden;}
section #close-content > div.close{width:30px; height:25px; background:#000; float:right; text-align:center; color:#FFF; line-height:25px; font-weight:bold; cursor:pointer; display:none;}
section #imagem {width:100%; height:580px; position:relative; text-align:center; background:#FFF; overflow:hidden;}
section #imagem > img{width:100%;}
section #imagem > div.mensagem{height:60px; position:absolute; top:100%; line-height:60px; font-weight:bold; text-align:center; background:#4DB920; color:#FFF;}

section #imagem > .grupo{position:absolute; background:transparent; border-style:transparent; cursor:pointer;}
section #imagem > .grupo:hover{border:solid 5px #FFF; box-shadow:0 0 20px #444;}
section #imagem > .luisa{top:120px; left:-8px; width:155px; height:280px;}
section #imagem > .geison{top:160px; left:255px; width:90px; height:110px;}
section #imagem > .guinter{top:120px; left:385px; width:90px; height:110px;}
section #imagem > .valeria{top:220px; left:560px; width:90px; height:110px;}
section #imagem > .brunomarques{top:340px; left:265px; width:90px; height:110px;}
section #imagem > .brunoklein{top:350px; left:490px; width:100px; height:115px;}

footer{text-align:center;}
footer p{margin:10px 0 10px 0;}
footer p a{line-height:39px; margin:0; font-weight:bold; text-decoration:none; color:#4DB920;}
