html, body {
	width:100%;
	background-color:#EFEFEF;
	margin:0 auto;
}

iframe{
	width:100%; 
	height:55px; 
	border:none; 
	background:#FFF;
}

li{
	margin:30px;
	font-size:130%;
}

h1{
	background-color:#4DB920;
	text-align:center;
	width: 100%;
	color:black;
	border-radius: 15px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 100%;}
}

/* Standard syntax */
@keyframes mymove {
    from {left:100%;}
    to {left: 0px;}
}

#minhafoto {
	width:100%; 
	height:200px;
	text-align:left;
	position: relative;
    -webkit-animation: mymove 2s; /* Chrome, Safari, Opera */
    animation: mymove 2s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	
}

#minhafoto img{
	height:100%;
	border-radius:20px;
}

#meunome {
	color:#4DB920;
	font-size:250%;
}

#seta {
	text-align:center;
}

#frase {
	position:relative;
	left:25px;
	top:20%;
	width:80%;
}

.content {
	width:780px;
	margin:0 auto;
	background-color:#EFEFEF;
	color:gray;
}

.dadosefoto {
	background-color:white;
	padding:3%;
	width:100%;
	border: 3px double #4DB920;
	border-radius: 20px;
	margin:8px;
}

.dadosprofissionais {
	background-color:white;
	padding:3%;
	width:100%;
	border: 3px double #4DB920;
	border-radius: 20px;
	margin:8px;
}

.informacoesadicionais {
	background-color:white;
	padding:3%;
	width:100%;
	border: 3px double #4DB920;
	border-radius: 20px;
	margin:8px;
}

.contatos {
	background-color:white;
	padding:3%;
	width:100%;
	border: 3px double #4DB920;
	border-radius: 20px;
	margin:8px;
}

.barrasuperior {
	background-color:#EFEFEF;
	padding:20px;
	width:100%;
}

.dadospessoais {
	text-align:center;
	float:right;
	font-size:120%;
	width:70%;
	height:0;
	position:relative;
	bottom:11em;
} 

@media only screen and (min-width: 200px) and (max-width: 349px){
	.content {
		width:85%;
		margin:0;
		background-color:#EFEFEF;
		color:gray;
	}

	#minhafoto {
		width:100%; 
		height:80px;
		text-align:left;
		margin:0;
	}

	#minhafoto img{
		height:100%;
	}

	#meunome {
		color:#4DB920;
		font-size:120%;
	}

	#seta {
		text-align:center;
	}

	h1{
		background-color:#4DB920;
		text-align:center;
		width: 100%;
		color:black;
		font-size:150%;
		
	}

	li{
		margin:0 auto;
		font-size:90%;
	}

	.divisões {
		background-color:white;
		padding:3%;
		width:100%;
		border: 3px double #4DB920;
	}

	.dadospessoais {
		text-align:center;
		float:right;
		font-size:45%;
		width:50%;
		height:0;
		position:relative;
		bottom:11em;
	} 
}

@media only screen and (min-width: 350px) and (max-width: 480px){
	.content {
		width:90%;
		margin:0;
		background-color:#EFEFEF;
		color:gray;
	}

	#minhafoto {
		width:100%; 
		height:100px;
		text-align:left;
		margin:0;
	}

	#minhafoto img{
		height:100%;
	}

	#meunome {
		color:#4DB920;
		font-size:170%;
	}

	#seta {
		text-align:center;
	}

	h1{
		background-color:#4DB920;
		text-align:center;
		width: 100%;
		color:black;
		font-size:150%;
	}

	li{
		margin:0 auto;
		font-size:90%;
	}

	.divisões {
		background-color:white;
		padding:3%;
		width:100%;
		border: 3px double #4DB920;
	}

	.dadospessoais {
		text-align:center;
		float:right;
		font-size:70%;
		width:65%;
		height:0;
		position:relative;
		bottom:9em;
	} 
}

@media only screen and (min-width: 481px) and (max-width: 801px){
	.content  {
		width:90%;
		margin:0;
		background-color:#EFEFEF;
		color:gray;
	}

	#minhafoto {
		width:100%; 
		height:120px;
		text-align:left;
		margin:0;
	}

	#minhafoto img{
		height:100%;
	}

	#meunome {
		color:#4DB920;
		font-size:200%;
	}

	#seta {
		text-align:center;
	}

	h1{
		background-color:#4DB920;
		text-align:center;
		width: 100%;
		color:black;
		font-size:150%;
	}

	li{
		margin:0 auto;
		font-size:130%;
	}

	.divisões {
		background-color:white;
		padding:3%;
		width:100%;
		border: 3px double #4DB920;
	}

	.dadospessoais {
		text-align:center;
		float:right;
		font-size:85%;
		width:70%;
		height:0;
		position:relative;
		bottom:9.5em;
	} 
}

@media only screen and (min-width: 802px) and (max-width: 2000px){
	.content  {
		width:780px;
		margin:0 auto;
		background-color:#EFEFEF;
		color:gray;
	}

	#minhafoto {
		width:100%; 
		height:200px;
		text-align:left;
	}

	#minhafoto img{
		height:100%;
	}

	#meunome {
		color:#4DB920;
		font-size:250%;
	}

	#seta {
		text-align:center;
	}

	#frase {
		position:relative;
		left:25px;
		top:20%;
		width:80%;
	}

	li{
		margin:30px;
		font-size:130%;
	}

	h1{
		background-color:#4DB920;
		text-align:center;
		width: 100%;
		color:black;
	}

	.divisoes {
		background-color:white;
		padding:3%;
		width:100%;
		border: 3px double #4DB920;
		margin:8px;
	}

	.barrasuperior {
		background-color:#EFEFEF;
		padding:20px;
		width:100%;
	}

	.dadospessoais {
		text-align:center;
		float:right;
		font-size:120%;
		width:70%;
		height:0;
		position:relative;
		bottom:11em;
	}	
}