body {
	width:780px;
	margin:0 auto;
}

	#minhafoto {
	display: inline-block;
	position:relative;
	margin:auto;
	}

	#frase {
		position:relative;
		left:25px;
		top:20%;
		width:80%;
		text-align:center;
		font-weight:bold;
	}

	#seta {
		position:relative;
		left:30%;
		top:20em;
	}

	h1{
		background-color:#4DB920;
		text-align:center;
		width: 100%;
	}

	li{
		margin:30px;
		font-size:130%;
	}

	.barrasuperior {
		background-color:#EFEFEF;
		padding:20px;
		width:100%;
		margin:auto;
	}
	.dadospessoais {
		display: inline-block;
		text-align:center;
		font-size:120%;
		position:relative;
		left:20%;
		top:-40px;
		width:500px;
		margin:auto;
	} 

	.informaçõescentrais {
		width:100%;

		padding:10px;
	}

	