#minhafoto {
	display: inline-block;
	text-align:center;
	position:relative;
	left:10px;
}

#frase {
	position:relative;
	left:25px;
	top:60px;
	width:80%;
	text-align:center;
	font-weight:bold;
}

#seta {
	position:relative;
	left:30%;
	top:270px;
}

#titulosprincipais {
	background-color:#4DB920;
	text-align:center;
	width: 100%;
}

.barrasuperior {
	background-color:#EFEFEF;
	padding:20px;
	width:100%;
}
.dadospessoais {
	display: inline-block;
	text-align:center;
	font-size:120%;
	position:relative;
	left:20%;
	top:-40px;
	width:500px;
} 
	
.barralateral {
    line-height:30px;
    background-color:#EFEFEF;
    width:20%;
	height:600px;
    float:left;
    padding:5px;	      
}

.informaçõescentrais {
	width:75%;
	height:100%;
    float:left;
    padding:10px;
	position:relative;
	left:5px;
	
}
