h1	{
		color:black;
		font-family:times;
		font-size:200%;
		text-align:center;
	}
body {background-color:lightgrey;}
p.error404 {
				font-size:200%;
				font-family:times;
			}
p	{
		color:black;
		font-family:verdana;
		font-size:100%;
		text-align:center;
	}
#imagem {
			border-radius:2000px;
			margin-left:575px;
			width="300";
			height="350";
		}