h1	
	{
		color:black;
		font-family:times;
		font-size:200%;
	}
#titulo1
	{
		text-align:center;
		color:#4db81a;
	}
#titulo2
	{
		margin-left:25px;
		color:#4db81a;
	}
#titulo3
	{
		margin-left:25px;
		color:#4db81a;
	}
#titulo4
	{
		margin-left:25px;
		color:#4db81a;
	}
body {background-color:#ffffff;}
#foto
	{
		text-align:center;
		width:100%;
	}
#imagem 
	{
		border-radius:2000px;
	}
#contato
	{
		color:black;
		font-family:verdana;
		text-align:center;
	}
#isolar
	{
		color:#4db81a;
	}	
#DadosPessoais
	{
		color:black;
		border:3px dashed black;
		font-family:verdana;
		font-size:100%;
		text-align:center;
		padding-left:0px;
		margin-top:25px;
	}	
#InformacoesAdicionais
	{
		color:black;
		border:3px dashed black;
		font-family:verdana;
		font-size:100%;
		padding-left:0px;
		text-align:center;
	}
#DadosProfissionais
	{
		color:black;
		border:3px dashed black;
		font-family:verdana;
		font-size:100%;
		padding-left:0px;
		text-align:center;
	}	
#comeback
	{
		color:black;
		font-family:verdana;
		font-size:100%;
		text-align:center;
	}