h1	
	{font-family:verdana;
	font-weight:bold;
	text-align:center;
<<<<<<< HEAD
	color:#4DB920;}
=======
<<<<<<< HEAD
	color:#4DB920;}
=======
	color:#4db81a;}
>>>>>>> 4112d18853273d9785ba0f0748785e84b22a4928
>>>>>>> 13242580c93714d707dd278424bb52bd2139e915
iframe
	{width:100%; 
	height:55px; 
	border:none; 
	background:#FFF;}
body 
	{width:100%;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 13242580c93714d707dd278424bb52bd2139e915
	background-color:#ebebe0;}
#content 
	{width:780px;
	margin:0 auto;}
<<<<<<< HEAD
=======
=======
	}
#content 
	{background-color:#eaeae1;
	width:780px;
	margin:0 auto;}
	}
>>>>>>> 4112d18853273d9785ba0f0748785e84b22a4928
>>>>>>> 13242580c93714d707dd278424bb52bd2139e915
#divfoto
	{width:100%;		
	text-align:center;}
#foto
	{text-align:center;
	width:100%;}
#imagem 
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 13242580c93714d707dd278424bb52bd2139e915
	{border-radius:2000px;
	border:4px solid #4DB920;}
#contato
	{background-color:#e6ffcc;
	font-family:verdana;
	text-align:center;
	font-size:125%;
	color:black;
	margin:25px 0px 25px 0px;
	border:3px solid #4DB920;}
<<<<<<< HEAD
#DadosPessoais
	{background-color:#e6ffcc;
	font-family:verdana;
=======
#DadosPessoais
	{background-color:#e6ffcc;
	font-family:verdana;
=======
	{border-radius:2000px;}
#contato
	{font-family:verdana;
	text-align:center;
	font-size:125%;
	color:black;}
#DadosPessoais
	{font-family:verdana;
>>>>>>> 4112d18853273d9785ba0f0748785e84b22a4928
>>>>>>> 13242580c93714d707dd278424bb52bd2139e915
	text-align:center;
	font-size:125%;
	color:black;
	margin-bottom:25px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 13242580c93714d707dd278424bb52bd2139e915
	border:3px solid #4DB920;}	
#InformacoesAdicionais
	{background-color:#e6ffcc;
	font-family:verdana;
<<<<<<< HEAD
=======
=======
	border:3px solid black;}	
#InformacoesAdicionais
	{font-family:verdana;
>>>>>>> 4112d18853273d9785ba0f0748785e84b22a4928
>>>>>>> 13242580c93714d707dd278424bb52bd2139e915
	text-align:center;
	font-size:125%;
	color:black;
	margin-bottom:25px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 13242580c93714d707dd278424bb52bd2139e915
	border:3px solid #4DB920;}
#DadosProfissionais
	{background-color:#e6ffcc;
	font-family:verdana;
	text-align:center;
	font-size:125%;
	color:black;
	border:3px solid #4DB920;}
#comeback 
	{background-color:#e6ffcc;
	text-align:center;
	border:3px solid black;
	margin:25px 0px 25px 0px;}
#comeback2
	{font-family:verdana;
	font-size:125%;
	color:black;}
span.detalhessubtitulos
	{font-weight:bold;
	font-size:125%;
	color:#4DB920;}
<<<<<<< HEAD
=======
=======
	border:3px solid black;}
#DadosProfissionais
	{font-family:verdana;
	text-align:center;
	font-size:125%;
	color:black;
	border:3px solid black;}
#comeback 
	{font-family:verdana;
	font-size:125%;
	text-align:center;
	color:black;
	line-height:50px;}
span.detalhessubtitulos
	{font-weight:bold;
	font-size:125%;
	color:green;}
>>>>>>> 4112d18853273d9785ba0f0748785e84b22a4928
>>>>>>> 13242580c93714d707dd278424bb52bd2139e915
span.detalhesfrases
	{font-weight:bold;
	font-style:italic;
	font-size:125%;
<<<<<<< HEAD
	color:#4DB920;}
=======
<<<<<<< HEAD
	color:#4DB920;}
=======
	color:green;}
>>>>>>> 4112d18853273d9785ba0f0748785e84b22a4928
>>>>>>> 13242580c93714d707dd278424bb52bd2139e915
