@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,300);
html, body, ul{margin:0; padding:0;}
html, body{background:#EFEFEF; font-family: 'Open Sans', sans-serif; font-weight:300;}
html, body, #header, #headerCont, #infoAdic .content-lists{width:100%;}

#header{height:165px; background:#FFF; text-align:center;}
#header img{margin-top:20px;}
#headerCont{height:120px; background:#FFF;}
#content{margin:-120px auto;}
#content div.bloco{margin-bottom:10px; padding:15px 8px 15px 8px; background:#FFF; border-bottom:solid 5px #4DB920; box-shadow:0px 0px 20px #CCC; overflow:hidden;}
#content div.bloco > div h1, div h2{color:#4DB920;}
#content div.bloco > div h1{margin:15px 0 0 0;}
#content div.bloco > div h2{margin:0 0 15px 10px;}
#content div.bloco > div p{line-height:5px; margin-bottom:22px;}
#content div.bloco > p{margin-left:30px;}
#content div.bloco > .textPerfil{height:150px; float:left;}
#infoCont, #infoProf{height:140px;}
#infoAdic .content-lists{text-align:center;}
#infoAdic .content-lists div ul li{list-style:none;}
#infoAdic .content-lists h4{width:100%; background:#4DB920; color:#FFF; margin:0 0 10px 0; line-height:50px; font-size:115%; font-weight:800;}
#backtoindex {text-align:center; margin:20px 0 20px 0;}
#backtoindex a{text-decoration:none; color:#4DB920; font-weight:bold;}
.italic li{font-style:italic;}
.center li{text-align:center;}

@media only screen and (min-width: 200px) and (max-width: 349px){
	#header{width:100%; height:auto; background:#FFF;}
	#header img{margin:20px 0 20px 0; width:80%;}
	#content{width:97%;}
	#content div.bloco > .imagemPerfil{width:100%; height:150px; background:#FFF; margin-right:30px; overflow:hidden; text-align:center;}
	#content div.bloco > .imagemPerfil img {height:100%;}
	#content div.bloco > .textPerfil{width:100%; text-align:center;}
	#content div.bloco > div p{line-height:20px;}
	#content div.bloco > p{margin-left:5px;}
	#content div.bloco > p span{display:block;}
	#infoPessoais{height:400px;}
	#infoCont{height:170px;}
	#infoProf{height:210px;}
	#infoAdic{height:1360px;}
	#infoAdic .content-lists div{width:100%; height:200px; background:#EFEFEF; margin-bottom:10px; float:left; text-align:center; border-bottom:solid 5px #BBB;}
	#infoAdic .content-lists div.frase{width:100%; height:390px;}
	#infoAdic .content-lists div.frase ul li{margin-bottom:40px;}
}

@media only screen and (min-width: 350px) and (max-width: 480px){
	#content{width:97%;}
	#content div.bloco > .imagemPerfil{width:100%; height:150px; background:#FFF; margin-right:30px; overflow:hidden; text-align:center;}
	#content div.bloco > .imagemPerfil img {height:100%;}
	#content div.bloco > .textPerfil{width:100%; text-align:center;}
	#infoPessoais{height:300px;}
	#infoAdic{height:1250px;}
	#infoAdic .content-lists div{width:100%; height:200px; background:#EFEFEF; margin-bottom:10px; float:left; text-align:center; border-bottom:solid 5px #BBB;}
	#infoAdic .content-lists div.last{margin-left:1%;}
	#infoAdic .content-lists div.frase{width:100%; height:320px;}
	#infoAdic .content-lists div.frase ul li{margin-bottom:40px;}
}

@media only screen and (min-width: 481px) and (max-width: 801px){
	#content{width:97%;}
	#content div.bloco > .imagemPerfil{width:150px; height:150px; background:#EFEFEF; float:left; margin-right:30px; overflow:hidden;}
	#content div.bloco > .imagemPerfil img {height:100%;}
	#infoPessoais{height:160px;}
	#infoAdic{height:835px;}
	#infoAdic .content-lists div{width:49.5%; height:220px; background:#EFEFEF; margin-bottom:10px; float:left; text-align:center; border-bottom:solid 5px #BBB;}
	#infoAdic .content-lists div.last{margin-left:1%;}
	#infoAdic .content-lists div.frase{width:100%; height:290px;}
	#infoAdic .content-lists div.frase ul li{margin-bottom:40px;}
}

@media only screen and (min-width: 800px) and (max-width: 2000px){
	#content{width:768px;}
	#content div.bloco > .imagemPerfil{width:150px; height:150px; background:#EFEFEF; float:left; margin-right:30px; overflow:hidden;}
	#content div.bloco > .imagemPerfil img {height:100%;}
	#infoPessoais{height:160px;}
	#infoAdic{height:835px;}
	#infoAdic .content-lists div{width:49.5%; height:220px; background:#EFEFEF; margin-bottom:10px; float:left; text-align:center; border-bottom:solid 5px #BBB;}
	#infoAdic .content-lists div.last{margin-left:1%;}
	#infoAdic .content-lists div.frase{width:100%; height:290px;}
	#infoAdic .content-lists div.frase ul li{margin-bottom:40px;}
	#backtoindex {text-align:center; margin:20px 0 20px 0;}
	#backtoindex a{text-decoration:none; color:#4DB920; font-weight:bold;}
}