#fundo{
background-color:#EFEFEF ;
}

#nome{
	color:#4DB920;
	font-size:50px;
	margin-left:480px;
}


#pessoais{
	font-family:Arial;
	margin-left:470px;
	margin-top:-200px;
	font-size:25px;
}

#site{
	width:30px;
	margin-left:600px;
	font-size:20px;
	color:#4DB920;
}

#imag{
	width:250px; 
	height:250px;
	border-radius:2000px;
	margin-top:-70px;
	margin-left:80px;
}

.lista{
	font-size:20px;
	font-family:Arial;
	margin-left:500px;
}

#prof{
	font-family:Arial;
	margin-left:470px;
	font-size:25px;
}

#contato{
	font-family:Arial;
	margin-top:-80px;
	font-size:20px;
}

#add{
	font-family:Arial;
	margin-left:470px;
	margin-top:50px;
	font-size:25px;
}

.ol1{
	font-size:20px;
	font-family:Arial;
	margin-left:100px;
}

#olt1{
	font-size:20px;
	font-family:Arial;
	margin-left:400px;
	margin-top:-95px;
}

#olt2{
	font-size:20px;
	font-family:Arial;
	margin-left:700px;
	margin-top:-95px;
}

#olt3{
	font-size:20px;
	font-family:Arial;
	margin-left:1000px;
	margin-top:-95px;
}

#ol2{
	font-size:20px;
	font-family:Arial;
	margin-left:400px;
}

#ol3{
	font-size:20px;
	font-family:Arial;
	margin-left:700px;
}

#ol4{
	font-size:20px;
	font-family:Arial;
	margin-left:1000px;
}