#fundo{
background-color:lightblue;}

#divi{
	width:460px;
	height:200px;
	margin-left:490px;
}

#nome{
	background-color:blue; 
	color: white;
	font-size:50px;
}

#pessoais{
	font-size: 30px; 
	font-family:Arial;
	margin-left:100px;
}

.pessoais{
	font-family:Arial;
	
}