iframe{width:100%; height:auto; border-bottom:solid 2px #BBB;}
@media only screen and (min-width: 1279px) and (max-width: 5500px){
	#fundo{background-color:#EFEFEF; margin:0 auto;}
	#nome{color:#4DB920; font-size:250%;}
	#pessoais{font-family:Arial; font-size:175%; color:#4DB920;}
	#site{font-size:120%;color:#4DB920;}
	#imag{border-radius:2000px;width:205px;margin-top:2px;border:5px solid #4DB920;}
	#profissionais{font-family:Arial;font-size:175%;color:#4DB920;}
	#contato{font-family:Arial;font-size:80%;list-style:none;}
	#adicionais{font-family:Arial;font-size:175%;color:#4DB920;text-align:center;}
	#motivacional{font-family:Italic;font-size:25px;color:#000080;}
	#largura{width:100%;}
	#margemfrase{width:20%;float:right;}
	#bordapessoais{border:5px solid #4DB920;width:45%;float:left;margin-right:3%;}
	#bordaprofissionais{border:5px solid #4DB920;width:45%;float:left;}
	#bordaadicionais{border:5px solid #4DB920;width:94%;float:left;margin-top:50px;}
	#centralizaborda{width:70%;margin:0 auto;}
	.lista{font-size:120%;font-family:Arial;list-style:none;}
	.ol1{font-size:20px;font-family:Arial;}
	.larguralista{width:24%;display:inline-block;}
	.centraliza{width:100%;text-align:center;display:inline-block}
}

@media only screen and (min-width: 1046px) and (max-width: 1278px){
	#fundo{background-color:#EFEFEF; margin:0 auto;}
	#nome{color:#4DB920; font-size:250%;}
	#pessoais{font-family:Arial; font-size:175%; color:#4DB920;}
	#site{font-size:120%;color:#4DB920;}
	#imag{border-radius:2000px;width:205px;margin-top:2px;border:5px solid #4DB920;}
	#profissionais{font-family:Arial;font-size:175%;color:#4DB920;}
	#contato{font-family:Arial;font-size:80%;list-style:none;}
	#adicionais{font-family:Arial;font-size:175%;color:#4DB920;text-align:center;}
	#motivacional{font-family:Italic;font-size:25px;color:#000080;}
	#largura{width:100%;}
	#margemfrase{width:20%;float:right;}
	#bordapessoais{border:5px solid #4DB920;width:45%;float:left;margin-right:3%;padding-bottom:20px;}
	#bordaprofissionais{border:5px solid #4DB920;width:45%;float:left;}
	#bordaadicionais{border:5px solid #4DB920;width:94%;float:left;margin-top:50px;}
	#centralizaborda{width:70%;margin:0 auto;}
	.lista{font-size:120%;font-family:Arial;list-style:none;}
	.ol1{font-size:20px;font-family:Arial;}
	.larguralista{width:24%;display:inline-block;}
	.centraliza{width:100%;text-align:center;display:inline-block}
}

@media only screen and (min-width: 900px) and (max-width: 1045px){
	#fundo{background-color:#EFEFEF; margin:0 auto;}
	#nome{color:#4DB920; font-size:250%;}
	#pessoais{font-family:Arial; font-size:175%; color:#4DB920;}
	#site{font-size:120%;color:#4DB920;}
	#imag{border-radius:2000px;width:205px;margin-top:2px;border:5px solid #4DB920;}
	#profissionais{font-family:Arial;font-size:175%;color:#4DB920;}
	#contato{font-family:Arial;font-size:80%;list-style:none;}
	#adicionais{font-family:Arial;font-size:175%;color:#4DB920;text-align:center;}
	#motivacional{font-family:Italic;font-size:25px;color:#000080;}
	#largura{width:100%;}
	#margemfrase{width:20%;float:right;}
	#bordapessoais{border:5px solid #4DB920;width:45%;float:left;margin-right:3%;}
	#bordaprofissionais{border:5px solid #4DB920;width:45%;float:left;}
	#bordaadicionais{border:5px solid #4DB920;width:94%;float:left;margin-top:50px;}
	#centralizaborda{width:70%;margin:0 auto;}
	.lista{font-size:120%;font-family:Arial;list-style:none;}
	.ol1{font-size:20px;font-family:Arial;}
	.larguralista{width:24%;display:inline-block;}
	.centraliza{width:100%;text-align:center;display:inline-block}
}

@media only screen and (min-width: 480px) and (max-width: 899px){
	#fundo{background-color:#EFEFEF; margin:0 auto;}
	#nome{color:#4DB920; font-size:250%;}
	#pessoais{font-family:Arial; font-size:175%; color:#4DB920;}
	#site{font-size:120%;color:#4DB920;}
	#imag{border-radius:2000px;width:205px;margin-top:2px;border:5px solid #4DB920;}
	#profissionais{font-family:Arial;font-size:175%;color:#4DB920;}
	#contato{font-family:Arial;font-size:80%;list-style:none;}
	#adicionais{font-family:Arial;font-size:175%;color:#4DB920;text-align:center;}
	#motivacional{font-family:Italic;font-size:25px;color:#000080;}
	#largura{width:100%;}
	#margemfrase{width:20%;float:right;}
	#bordapessoais{border:5px solid #4DB920;width:100%;float:left;}
	#bordaprofissionais{border:5px solid #4DB920;width:100%;float:left;margin-top:3%;}
	#bordaadicionais{border:5px solid #4DB920;width:100%;float:left;margin-top:50px;}
	#centralizaborda{width:70%;margin:0 auto;}
	.lista{font-size:120%;font-family:Arial;list-style:none;}
	.ol1{font-size:20px;font-family:Arial;}
	.larguralista{width:49%;display:inline-block;}
	.centraliza{width:100%;text-align:center;display:inline-block}
}

@media only screen and (min-width: 0px) and (max-width: 479px){
	#fundo{background-color:#EFEFEF; margin:0 auto;}
	#nome{color:#4DB920; font-size:250%;}
	#pessoais{font-family:Arial; font-size:175%; color:#4DB920;}
	#site{font-size:120%;color:#4DB920;}
	#imag{border-radius:2000px;width:205px;margin-top:2px;border:5px solid #4DB920;}
	#profissionais{font-family:Arial;font-size:175%;color:#4DB920;}
	#contato{font-family:Arial;font-size:80%;list-style:none;}
	#adicionais{font-family:Arial;font-size:175%;color:#4DB920;text-align:center;}
	#motivacional{font-family:Italic;font-size:25px;color:#000080;}
	#largura{width:100%;text-align:center;}
	#margemfrase{width:20%;float:right;}
	#bordapessoais{border:5px solid #4DB920;width:100%;float:left;}
	#bordaprofissionais{border:5px solid #4DB920;width:100%;float:left;margin-top:3%;}
	#bordaadicionais{border:5px solid #4DB920;width:100%;float:left;margin-top:50px;}
	#centralizaborda{width:70%;margin:0 auto;}
	.lista{font-size:120%;font-family:Arial;list-style:none;}
	.ol1{font-size:20px;font-family:Arial;list-style:none;}
	.larguralista{width:100%;display:inline-block;}
	.centraliza{width:100%;text-align:center;display:inline-block}
}