/*stylesheet*/
body{
	background-color: #6C6D6F;
}
#pessoal{
	border-radius:20px;
	border: 2px solid black;
	width:100%;
	background-color:white;
	display: block;
}
#profissional{
	border-radius:20px;
	border: 2px solid black;
	width:100%;
	background-color:white;
	display: block;
}
#hobby{
	border-radius:20px;
	border: 2px solid black;
	width:100%;
	background-color:white;
	display: block;
}
#contato{
	border-radius:20px;
	border: 2px solid black;
	width:100%;
	background-color:white;
	display: block;
}
h1{
	text-align:center;
}
li{
	font-size:20px;
}
img{
	height: 100px;
	width:100px;
	border-radius:2000px;
	float: left;
	margin-left:5px;
	margin-right: 50px;
}
#back{
	height:50px;
	width:50px;
	border-radius:2000px;
	float:right;
	margin-top: -65px;
	margin-right:3px;
}