/*stylesheet*/
body{
	background-color: #6C6D6F;
}
#pessoal{
	border-radius:20px;
	border: 2px solid black;
<<<<<<< HEAD
	width:100%;
=======
	width:98%;
>>>>>>> 4d59cb012abdce41ec9b03a8e1b1ffca7360ca56
	height:200px;
	background-color:white;
	display: block;
}
#profissional{
	border-radius:20px;
	border: 2px solid black;
<<<<<<< HEAD
	width:100%;
=======
	width:98%;
>>>>>>> 4d59cb012abdce41ec9b03a8e1b1ffca7360ca56
	height:200px;
	background-color:white;
	display: block;
}
#hobby{
	border-radius:20px;
	border: 2px solid black;
<<<<<<< HEAD
	width:100%;
	height:385px;
=======
	width:98%;
	height:200px;
>>>>>>> 4d59cb012abdce41ec9b03a8e1b1ffca7360ca56
	background-color:white;
	display: block;
}
#contato{
	border-radius:20px;
	border: 2px solid black;
<<<<<<< HEAD
	width:100%;
	height:100pxpx;
=======
	width:98%;
	height:200px;
>>>>>>> 4d59cb012abdce41ec9b03a8e1b1ffca7360ca56
	background-color:white;
	display: block;
}
h1{
	text-align:center;
}
li{
	font-size:20px;
}
img{
	height: 150px;
	width:150px;
	border-radius:2000px;
	float: left;
	margin-top: -30px;
	margin-right: 50px;
<<<<<<< HEAD
}
#back{
	height:50px;
	width:50px;
	border-radius:2000px;
	float:right;
	margin-top: -15px;
	margin-right:3px;
=======
>>>>>>> 4d59cb012abdce41ec9b03a8e1b1ffca7360ca56
}